<h1 mat-dialog-title>Welcome to Mifos</h1>

<mat-dialog-content>

<p>Following guide tour will help you configure Mifos according to your organization needs.</p>

<h3>Progress Bar : 0%</h3>

<mat-progress-bar mode="determinate" value="0"></mat-progress-bar>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="warn" [mat-dialog-close]="{ show: false }">Close Config. Wizard</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="{ show: true }">Take a tour!</button>
</mat-dialog-actions>
